DATABASE_URL=postgres://postgres:mypassword@localhost:5432/testdb
MEC_API_KEY=MEC_API_KEY
TET_API_KEY=TET_API_KEY
RECOCO_API_KEY=RECOCO_API_KEY
CORS_ORIGINS=http://localhost:5173,http://localhost:5174
SERVICE_MANAGEMENT_API_KEY=your_secure_key_here